
@{
    ViewBag.Title = "DangKy";
}
<link href="~/assets/css/DK.css" rel="stylesheet" />
    <div class="form-container" style="margin-top: 80px;">
        <p class="title">Welcome back</p>
        <form class="form" method="post">
            <input type="text" class="input" placeholder="Họ tên">
            <input type="email" class="input" placeholder="Email">
            <input type="number" class="input" placeholder="Số điện thoại">
            <input type="text" class="input" placeholder="Địa chỉ">
            <input type="text" class="input" placeholder="Tên Tài Khoản">
            <input type="password" class="input" placeholder="Mật Khẩu">
            <a href="/DN/DangKy">
                <label for="SigUp"></label>
                <input type="button" name="SigUp" value="Đăng ký" class="form-btn align-items-center"/>
            </a>
        </form>
        <p class="sign-up-label">
            <a href="/DN/Index"><span class="sign-up-link">Đăng Nhập</span></a>
        </p>
    </div>
