@{ 
    ViewBag.Title = "Đăng Nhập";
}
<link href="~/assets/css/DN.css" rel="stylesheet" />
<div class="form-container">
    <p class="title">Đăng Nhập</p>
    <form class="form">
        <input type="text" class="input" placeholder="Tên Đăng Nhập">
        <input type="password" class="input" placeholder="Mật Khẩu">
        <p class="page-link">
            <span class="page-link-label">Quên Mật Khẩu?</span>
        </p>
        <a href="/Home/Index" style="text-align: center;">
            <label for="Login"></label>
            <input type="button" name="Login" value="Đăng nhập" class="form-btn align-items-center" />
        </a>
    </form>
    <p class="sign-up-label">
        Don't have an account? <a href="/DN/DangKy"><span class="sign-up-link">Đăng Ký</span></a>
    </p>
</div>

