

/* Form Container Styles */
.form-container {
    position: relative;
    z-index: 2;
    width: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 15px;
    margin: 0 auto;
    border: 3px solid teal;
    margin-top: 80px !important
}

/* Form Title */
.title {
    font-family: "Poppins", sans-serif; /* Font thay đổi */
    color: teal;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Input Styles */
.form-group {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

    .input:focus {
        border-color: mediumseagreen;
        outline: none;
        box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    }

/* Submit Button */
.form-btn {
    width: 100%;
    padding: 12px 20px;
    background-color: teal;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .form-btn:hover {
        background-color: mediumseagreen;
    }

/* Link Styles */
.sign-up-label {
    color: teal; 
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.sign-up-link {
    color: teal;
    text-decoration: none;
    font-weight: bold;
}

    .sign-up-link:hover {
        text-decoration: underline;
    }
